.hw-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}


.name-logo{
    display: flex;
    align-items: center;

}
.name-logo img{
    width: 100px;
}
.name{
    color: rgb(59, 59, 119);
}