.my-info{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 30px 20px;
}

.my-info img{
    width: 60px;
    border-radius: 15px;
}

.my-name{
    margin: 0px;
    /* line-height:0.3; */
}

.break{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    margin: 10px;
    border-radius: 7px;
}

.break div{
    background-color: rgb(235, 235, 241);
    margin: 5px;
    border-radius: 50px;
}

.time-detail{
    margin: 20px;
}

.time-detail h3{
    text-align: center;
}

@media screen and (min-width: 668px) and (max-width: 1200px) {
    .my-name{
        font-size: large;
    }
}