.hw-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.name-logo{
    display: flex;
    align-items: center;
}

.name-logo img{
    width: 100px;
}

.name{
    color: rgb(59, 59, 119);
}

.workout-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 40px;
}

.chart-container{
    background-color: rgb(235, 235, 241);
}

