.ques-ans{
    text-align: justify
}

.ques-ans div{
    border: 1px solid purple;
    background-color:  rgb(235, 235, 241);
    border-radius: 10px;
    padding: 30px;
    margin: 40px;
}

.ques-ans h2{
    text-align: center;
}